<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Residential Complex">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showAlert()">2BHK Show Flat</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Garden</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Swimming Pool</button>
    </uib-tab>
    <uib-tab index="1" heading="Commercial Complex">
        <button type="button" class="btn btn-warning btn-lg btn-block">Business Centre</button>
        <button type="button" class="btn btn-info btn-lg btn-block">Roof Top Cafe</button>
    </uib-tab>
</uib-tabset>
