<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Residential Complex">

    <button type="button" class="btn btn-primary btn-lg btn-block ng-scope" ng-click='routeToLandingMenu()' style="
		    background-image: url(images/gif/4-bhk-house.gif);
		    height: 140px;
		    width: 20%;
		    border-radius: 75px;
		    display:table;
		    margin:auto;
		    background-repeat: round;"></button>

	<button type="button" class="btn btn-primary btn-lg btn-block ng-scope" ng-click='routeToLandingMenu()' style="
		    background-image: url(images/gif/garden.gif);
		    height: 140px;
		    width: 20%;
		    border-radius: 75px;
		    display:table;
		    margin:auto;
		    background-repeat: round;"></button>

	<button type="button" class="btn btn-primary btn-lg btn-block ng-scope" ng-click='routeToLandingMenu()' style="
		    background-image: url(images/gif/swimming-pool.gif);
		    height: 140px;
		    width: 20%;
		    border-radius: 75px;
		    display:table;
		    margin:auto;
		    background-repeat: round;"></button>
    </uib-tab>
    <uib-tab index="1" heading="Commercial Complex">
    	<button type="button" class="btn btn-primary btn-lg btn-block ng-scope" ng-click='routeToLandingMenu()' style="
		    background-image: url(images/gif/business-center.gif);
		    height: 140px;
		    width: 20%;
		    border-radius: 75px;
		    display:table;
		    margin:auto;
		    background-repeat: round;"></button>
		<button type="button" class="btn btn-primary btn-lg btn-block ng-scope" ng-click='routeToLandingMenu()' style="
		    background-image: url(images/gif/RTC.gif);
		    height: 140px;
		    width: 20%;
		    border-radius: 75px;
		    display:table;
		    margin:auto;
		    background-repeat: round;"></button>
    </uib-tab>
</uib-tabset>
