
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Residential Complex">

    	<button type="button" class="btn btn-primary btn-lg btn-block landingMenuButton" ng-click='routeToLandingMenu()' style="background-image: url(images/gif/4-bhk-house.gif);"></button>

		<button type="button" class="btn btn-primary btn-lg btn-block landingMenuButton" ng-click='routeToLandingMenu()' style="background-image: url(images/gif/garden.gif);"></button>

		<button type="button" class="btn btn-primary btn-lg btn-block landingMenuButton" ng-click='routeToLandingMenu()' style="background-image: url(images/gif/swimming-pool.gif);"></button>
    </uib-tab>
    <uib-tab index="1" heading="Commercial Complex">
    	<button type="button" class="btn btn-primary btn-lg btn-block landingMenuButton" ng-click='routeToLandingMenu()' style="background-image: url(images/gif/business-center.gif);"></button>
		
		<button type="button" class="btn btn-primary btn-lg btn-block landingMenuButton" ng-click='routeToLandingMenu()' style="background-image: url(images/gif/RTC.gif);"></button>
    </uib-tab>
</uib-tabset>
